[user]
	name = Thomas Barone
	email = thomas.barone@spectraqest.com
[core]
    editor = gvim
	excludesfile = /Users/tbone/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[merge]
	tool = kdiff3
